.map {
    
    height: 90vh;
    background: black;
    position: relative;
    margin-top: 2em * 1.625;
    
    @include tablet-landscape {
        height: 80vh;
    }
    
    &__inner {
        
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 12em;
        
        @include tablet {
            bottom: 0;
        }
        
    }
    
    &__location {
        
        &.hidden{
            opacity: 0;
            pointer-events: none;
            transition: opacity .2s;
        }
        
        transition: opacity .2s .2s;
        
        position: absolute;
        bottom: 0;
        //background: $blue;
        color: white;
        padding: 2em;
        
        @include tablet {
            bottom: auto;
            top: 0;
        }
        
        @include tablet-landscape {
            padding: 10%;
        }
        
        h2{
            font-size: 1.25em;
            color: white;
            margin: 0;
        }
        
        a {
            text-transform: uppercase;
            text-decoration: none;
            
            @include download-icon('blue');
            
        }
        
    }
    
}