<footer>
    
    <p>Other topics</p>
    
    <ul class="links">
        
    	{% for pageName in ['home', 'services', 'locations', 'customers', 'about'] %}
    	
    		{% set navItem = craft.entries.section( pageName ).first() %}
    	    
    	    {% if navItem.url != craft.request.url %}

        		<li>
        			<a href="{{navItem.url}}">
        				{{ navItem.title }}
        			</a>
        		</li>
    	    
    	    {% endif %}
    	    
    	{% endfor %}
    	
    </ul>
    
 <!--   <ul>-->
        
 <!--   </ul>-->
    
	<!--<ul>-->
 <!--       <li>Contact</li>-->
 <!--       <li>{{ globals.contactAddress | nl2br }}</li>-->
 <!--       <li>-->
 <!--           T <a href="tel:{{globals.contactPhone}}">{{globals.contactPhone}}</a>-->
 <!--        </li>-->
 <!--   </ul>-->
    
    <ul class="contact">
        
        <li>
            <img src="{{siteUrl}}assets/logo.svg">
        </li>
        
        <li>
            {{ globals.contactAddress | nl2br }}
        </li>
        
        <li>
            <a href="tel:{{globals.contactPhone}}">{{globals.contactPhone}}</a><br>
            <a href="mailto:{{globals.contactEmail}}">{{globals.contactEmail}}</a>
        </li>
         
    </ul>
		    
</footer>